:root {
  --font-family: "Comic Neue", cursive;
  --title-color: 90C8AC;
}

h4 {
  color: darkgrey;
  font-family: var(--font-family);
}
.navbar-brand {
  font-family: var(--font-family);
}
.navbarSupportedContent {
  font-family: var(--font-family);
}

.text-dec {
  text-align: center;
  color: var(--title-color);
}

.card-title {
  font-family: var(--font-family);
  color: var(--title-color);
}
.card-text {
  font-family: var(--font-family);
}
.card-body {
  border-radius: 20px;
}
.about-text {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: medium;
  text-align: center;
}
.contact {
  text-align: center;
  color: darkgray;
  font-size: medium;
  font-family: var(--font-family);
}
h3 {
  margin-top: 45px;
  font-family: var(--font-family);
  color: var(--title-color);
}

h1 {
  font-family: var(--font-family);
  color: var(--title-color);
}
.img {
  display: flex;
  justify-content: space-evenly;

  padding-block-end: 20%;
  width: 300px;
}
